body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  #top > div {
    display: flex;
    flex-basis: 6vh;
    margin: 2vh;
    justify-content: center;
  }
  
  #top > div > div {
    margin: 0px 2vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(127, 161, 163);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #grid {
    margin: 2vh;
    padding: 2vh;
    flex-grow: 1;
    display: grid;
    gap: 1.5vh;
  
    font-size: 3vh;
    background-color: rgb(127, 161, 163);
  }
  
  #grid > div {
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: rgb(67, 85, 87);
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
  }
  
  #grid > div.selected {
    background-color: whitesmoke;
    color: rgb(67, 85, 87);
  }
  
  #grid > div:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgb(67, 85, 87);
  }

  button {
      background-color: rgb(127, 161, 163);
      color: whitesmoke;
      border: none;
      padding: 5px;
      font-weight: bolder;
  }

  button:hover {
    background-color: rgb(67, 85, 87);
    color: whitesmoke;
  }

  #inputCols, #inputRows {
     font-family: 'Courier New', Courier, monospace;
  }

  input {
    color: rgb(67, 85, 87);
  }

  label {
      padding-right: 10px;
  }